<app-header></app-header>

<div class="text-center"><br/><br/>
  <h1>Welcome to Tastease</h1>
  {{directions}}
  <br/>
  <br/>

</div>
<div class="row">
  <div class="col-4"><h2 class="ml-5 text-warning">Login</h2></div>
  <div class="col-4">
<div style="width: 400px;" class="">
  <form (ngSubmit)="loginUser($event)">
    <div class="form-group">
      <label for="name">Username</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="user.username" name="username">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required [(ngModel)]="user.password" name="password">
    </div>
    <div [hidden]="!authenticated">
      <h4 class="text-danger">Wrong username or password</h4>

    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form><br/>
  <a href="https://yongliang24.github.io/ERSystem/">Forgot Password?</a>
</div>
</div>
<div class="col-4"></div>
</div>
<br/>
