<app-header></app-header><br/><br/><br/>
<div class="container text-center" >
    <h3>Password Reset</h3>
    <div [hidden]="submitted">
<form #form='ngForm' ngNativeValidate (ngSubmit)="onSubmit()" >
    <div class="form-group">
<input class="form-controll" type="number" placeholder="user id" name="userDetail" required [(ngModel)]="userDetail.id"><br/>
<input class="form-controll" type="password" placeholder="new password" name="userDetail" required [(ngModel)]="userDetail.password">
<br/>
</div>
<button type="submit">Submit</button>
</form>
</div>
</div>


<div [hidden]="!submitted">
    <h4>You submitted successfully! Please Login</h4>
  </div>